<%= form_with model: [ @task_list, @task ] do |form| %>

  <% if @task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div>
    <%= form.label :date, class: "form-label" %>
    <%= form.datetime_field :date, class: "form-control" %>
  </div>

  <div class="row mt-3">
    <div class="col-auto">
      <div class="form-check">
        <%= form.label 'Repeat', class: "form-check-label" %>
        <%= form.check_box :set_repeat, checked: @task.repeat.positive?, class: "form-check-input" %>
      </div>
    </div>
    <div class="col-auto">
      <%= form.label 'Every (Days)', class: "form-check-label" %>
    </div>
    <div class="col-auto">
      <%= form.number_field :repeat, :class => 'form-control', :type => 'number' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :tags, class: "form-label" %>
    <%= form.collection_select :tag_ids, @tags.order(:name), :id, :name, {}, { class: "form-control", multiple: true } %>
  </div>

  <div class="form-check">
    <%= form.label :is_done, class: "form-check-label" %>
    <%= form.check_box :is_done, class: "form-check-input" %>
  </div>

  <div>
    <%= form.submit :Submit, class: "btn btn-primary mt-4" %>
  </div>
<% end %>
