<div class="card h-100 <%= 'border-danger' if task.is_overdue %>">

  <div class="card-header">
    <div class="row">
      <div class="col">
        <h5 class="h5"><%= task.title %></h5>
      </div>
      <% if defined?(tags_count) %>
      <div class="col-auto">
        <span class="badge rounded-pill bg-info text-dark"><%= tags_count %></span>
      </div>
      <% end %>
    </div>
  </div>

  <div class="card-body">

    <% if task.tags.length.positive? %>
      <p class="card-text">
        <small class="text-muted">
          <% task.tags.each do | tg | %>
            <%= tg.name %> |
          <% end %>
        </small>
      </p>
    <% end %>

    <p class="card-text"><small class="<%= task.is_overdue ? 'text-danger' : 'text-muted' %>"><%= task.date %></small></p>

    <% if task.repeat.positive? %>
      <p class="card-text"><small class="text-muted">Repeating every <%= task.repeat %> days</small></p>
    <% end %>

    <p class="card-text"><%= task.description %></p>
  </div>

  <div class="card-footer bg-transparent">
    <div class="row">
      <div class="col-auto ms-auto">
        <%= button_to "Edit this task", edit_task_list_task_path(task_list_id: task.task_list.id, id: task.id), method: :get, class: 'btn btn-sm btn-outline-success' %>  
      </div>
      <div class="col-auto">
        <%= button_to "Destroy this task", task_list_task_path(task_list_id: task.task_list.id, id: task.id),
                                      method: :delete,
                                      data: { confirm: "Are you sure?" },
                                      class: 'btn btn-sm btn-outline-danger' %>
      </div>
    </div>
  </div>

</div>