<p style="color: green"><%= notice %></p>

<h1>Tags</h1>

<div id="tags">
  <ul class="list-group">
    
    <% @tags.each do |tag| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <%= tag.name %>
          </div>
          <div class="col-auto">
            <%= button_to "Edit this tag", edit_tag_path(tag), method: :get, class: "btn btn-sm btn-link" %>
          </div>
          <div class="col-auto">
            <%= button_to "Destroy this tag", tag, method: :delete, class: "btn btn-sm btn-link" %>
          </div>
        </div>
      </li>
    <% end %>

  </ul>

</div>

<%= link_to "New tag", new_tag_path %>
