<%= form_with model: task_list do |form| %>
  <% if task_list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task_list.errors.count, "error") %> prohibited this task_list from being saved:</h2>

      <ul>
        <% task_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= form.submit :Submit, class: "btn btn-primary mt-4" %>
  </div>
<% end %>
