<div class="row">

  <div class="col-12">
    <h1>Task lists</h1>
    <p style="color: green"><%= notice %></p>
  </div>

  <div class="col-12">
    <%= button_to "New task list", new_task_list_path, method: :get, class: 'btn btn-sm btn-outline-primary' %>
  </div>

  <div class="col-12 mt-3">
  
    <ul id="task_lists" class="list-group">

      <% @task_lists.each do |task_list| %>
        <li class="list-group-item">
          <h3 class="h3"><%= task_list.title %></h2>
          <p><%= link_to "Show this task list", task_list %></p>
        </li>
      <% end %>

    </ul>
  
  </div>

</div>