<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-12 offset-0
              col-md-8 offset-md-2
              col-lg-6 offset-lg-3">
    <h2 class="h2">Add a task:</h2>
    <%= render 'tasks/form' %>
  </div>

  <div class="col-12 mt-4">
    <h1 class="h1 mt-4 mb-3"><%= @task_list.title %></h1>
      <% if @task_list.tasks.empty? %>
        <p>This list has no tasks</p>

      <% else %>
        <div class="row">
          <div class="col-12">
            <%= form_with model: @task_list, method: :get do |form| %>
              <div class="form-group">
                <%= form.label "Filter by tags", class: "form-label" %>
                <%= form.collection_select :tag_ids, @tags.order(:name), :id, :name, {}, { class: "form-control", multiple: true, size: 3 } %>
              </div>
              <div>
                <%= form.submit "Filter", class: "btn btn-primary mt-4" %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">

          <div class="col-12">
            <%= will_paginate @tasks %>
          </div>
          
          <% @tasks.each do | t | %>
            <div class="col-12 col-md-6 col-lg-4 mt-3">
              <%= render "tasks/task", task: t, tags_count: t.tags.count %>  
            </div>
          <% end %>

          <div class="col-12">
            <%= will_paginate @tasks %>
          </div>

        </div>

    <% end %>
  </div>

  <div class="col-12 mt-4">
    <h4 class="h4">Options</h4>
    <div class="row">
      <div class="col-auto pr-0">
        <%= button_to "Back to task lists", task_lists_path, method: :get, class: 'btn btn-sm btn-outline-primary' %>
      </div>
      <div class="col-auto px-0">
        <%= button_to "Edit this task list", edit_task_list_path(@task_list), method: :get, class: 'btn btn-sm btn-outline-success' %>
      </div>
      <div class="col-auto pl-0">
        <%= button_to "Destroy this task list", @task_list, method: :delete, class: 'btn btn-sm btn-outline-danger' %>
      </div>
    </div>
  </div>
</div>

