<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RR Tasks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Task Lists", root_path, class: 'nav-link' %></a>
        </li>
        <li class="nav-item">
          <%= link_to "New List", new_task_list_path, class: 'nav-link' %></a>
        </li>
        <li class="nav-item">
          <%= link_to "Manage Tags", tags_path, class: 'nav-link' %></a>
        </li>
      </ul>
    </div>
  </div>
</nav>